div img {
    width: 1860px;
    height: 1000px;
    -webkit-transition: -webkit-transform 2s ease 0s;
    transition: transform 1s ease 0s;
    -webkit-transform-origin: center;
    transform-origin: center;
}

div  img:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    
}
