*{
    margin: 0;
    padding: 0;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/

::-webkit-scrollbar {
    width: 5px;
    /* height: 5px; */
    background-color: #F5F5F5;
}


/*定义滚动条轨道 内阴影+圆角*/

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #0c709b;
}


/*定义滑块 内阴影+圆角*/

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #c7cd0b;
}



a{
    /* 去除下划线 */
    text-decoration: none;
  
  }

  body{

    color: #6c767d;
    background-color: #ebf1f5;
    background-image: url(../biejing/87945109_p0.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    min-height: 800px;

  }

  .jian{
    position: relative;
    top: 150px;
    margin: 20px auto;
    max-width: 900px;
  }


  .tu{
    max-width: 900px;
    margin: 20px auto;
    column-gap: 20px;
    position: relative;
    top: 150px;
}
  
.annv{
    margin-top: 200px;
    max-width: 900px;
    margin: 222px auto;
    columns: 1;
    
}

.jiaju{
    font-size: 15px;
}

 .juie{
    width: 600;
    height: 800;
    margin-top: 100px;
    /* border: solid 1px rgb(0, 0, 0) */
    text-align: center;
 }

 .iw{
    text-align: center;
    }

    .huanye{
        margin-top: 200px;
        max-width: 300px;
        margin: 22px auto;
        columns: 1;
        
    }

    .huanyeq{
        margin-top: 200px;
        max-width: 300px;
        margin: 22px auto;
        columns: 1;
        
    }

    button{
        background-color: dodgerblue;
        color: white;
        width: 80px;
        height: 50px;
    
        border: 0;
        font-style: 16px;
        border-radius: 20px;
    }
    
    button:hover{
        background-color: #cd0b0b;
    }